<div class="fullpage">
  <div class="bot__container">
      <div class="header flex flex__spacebetween">
          <div class="header__left">
              <h3 class="header__left__name">OSWALD</h3>
              <h3 class="header__left__update">DEMO CHATBOT</h3>
          </div>
      </div>
      <div class="inside">
        <ul #list [scrollTop]="list.scrollHeight" id="bot__message__list" class="list">
            <li class="list__items" *ngFor="let item of conversation | async; let i = index; let last = last" [hidden]="!item.visible">
                <messages *ngIf="item.message.message" class="list__item" [class.list__item__right]="item.send" [data]="item"></messages>

                <div *ngIf="item.message.type && item.message.type === 'url'" class="actions list__item list__item__url flex--mobile">
                  <a target="_blank" [href]="item.message.url">{{item.message.message}}</a>
                </div>
                <div *ngIf="item.message.type && item.message.type === 'image'" class="actions list__item list__item__image flex--mobile">
                  <img width="50%" height="auto" [src]="(item.message.image || item.message.message)" alt="Chatbot-afbeelding">
                </div>
                <div *ngIf="item.message.elements?.length && last" class="actions list__item flex--mobile" [ngClass]="item.message.type + '-type'">
                  <ul class="flex--mobile flex--wrap flex--justifyend">
                        <li *ngFor="let el of item.message.elements" [class.image-item]="el.imageUrl" [ngStyle]="{'background-image':'url('+el.imageUrl+')'}" (click)="sendAction(el, item, i)">
                            <div *ngIf="el.text" class="text">{{el.text}}</div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="item.message.type === 'quickreply' && last" class="actions list__item flex--mobile" [ngClass]="item.message.type + '-type'">
                  <ul class="flex--mobile flex--wrap flex--justifyend">
                        <li *ngFor="let el of item.message.message.options" [class.image-item]="el.imageUrl" [ngStyle]="{'background-image':'url('+el.imageUrl+')'}" (click)="sendAction(el, item, i, item.message.type)">
                            <div *ngIf="el.label" class="text">{{el.label}}</div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="item.message.type === 'carrousel' && last" class="actions list__item flex--mobile" [ngClass]="item.message.type + '-type'">
                  <ul class="flex--mobile flex--wrap flex--justifyend">
                        <li *ngFor="let el of item.message.message" [class.image-item]="el.image" [ngStyle]="{'background-image':'url('+el.image+')'}" (click)="sendAction(el, item, i)">
                            <div *ngIf="el.title" class="text" href="">{{el.title}}</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="inside__bubble" *ngIf="(funnel.onChange$ | async) > 0">
                <span>.</span><span>.</span><span>.</span>
            </li>
        </ul>
        <div class="inside__group">
            <div class="inside__inputgroup" >
                <input #myInput [placeholder]="state.placeholder" class="inside__input" (keyup.enter)="sendText()" id="input__field" [disabled]="state.textboxDisabled" [(ngModel)]="message" />
                <div class="inside__icons"  (click)="sendText()"  [ngClass]="!speakerChecked? 'bot__paper__icon': '' ">
                    <i *ngIf="speakerChecked != 'disabled'" class="fa fa-microphone" aria-hidden="true"></i>
                    <i *ngIf="speakerChecked == 'disabled'" class="fa fa-paper-plane"aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
