<div class="message inside__message">
  <span class="top-message" *ngIf="data.message.message && !data.message.message.text" [innerHTML]="data.message.message|MarkdownToHtml"></span>
  <span class="top-message" *ngIf="data.message.message.text" [innerHTML]="data.message.message.text|MarkdownToHtml"></span>
</div>


