doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")
  body
    block content
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
    script(src="javascripts/webSpeech.js")
    script(src="javascripts/messenger.js")
    script(src="javascripts/client.js")
