[hidden] {
  display: none !important;
}


.actions {
    display: block;
    width: 100%;
    max-width: 100%;

    ul {
        white-space: nowrap;
        overflow-x: auto;

        li {
            display: inline-block;
            margin-right: 15px;

            &.image-item {
                position: relative;
                height: 250px;
                width: 200px;
                background-size: cover;
                background-position: center;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                border: none;
                border-radius: 2px;

                .text {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: white;
                    font-size: .8em;
                    border-radius: 0;
                    color: #333;
                    border: none;
                    padding: 5px;
                }
            }

            .text {
                padding: 5px 10px;
                border: 1px solid #3C99EA;
                border-radius: 15px;
                color: #3C99EA;
            }

        }
    }
}

.radio-type, .checkbox-type {
    ul {
        float: right;

        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
}
