.actions {
  width: 100%;
  max-width: 100%;

    ul {
        overflow-x: auto;

        li {
            display: inline-block;
            margin-right: 15px;
            cursor: pointer;
            margin-bottom: 0.5em;

            &.image-item {
                position: relative;
                height: 250px;
                width: 200px;
                background-size: cover;
                background-position: center;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                border: none;
                border-radius: 2px;

                .text {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: white;
                    font-size: .8em;
                    border-radius: 0;
                    color: #333;
                    border: none;
                    padding: 5px;
                }
            }

            .text {
                padding: 0.45em 0.5em 0.3em 0.5em;
                border: 1px solid $light-grey;
                border-radius: 15px;
                color: $black;

                &:hover{
                  background-color: $light-grey;
                  color: $white;
                }
            }

        }
    }
}
