.bot{
  &__container{
      background: $bg-container;
      width: 90%;
      position: relative;
      overflow: hidden;
      margin: 0vh auto auto auto;

      @media (min-width: 44em){
          width: 60%;
          margin: 10vh 50px auto auto;
      }

      @media (min-width: 70em){
          width: 60%;
      }
  }
}
