
.footer{
  background-color: $bg-container;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &__text {
      margin: 1.4em auto;
      font-size: 0.7em;
      color: $title_computer;
  }
}
