.header{

  @media (max-width: 44em){
      padding: 1.2em 0.3em 0em;
  }


  &__left{
      padding: 0.2em 0;

      @media (max-width: 44em){
          padding: 0em 0.7em 0.2em 0.75em;
          margin-top: -17px;
      }

      &__name{
          font-size: 1.8em;
          color: $black;
          font-weight: 700;
          letter-spacing: 1px;
          padding: 0;
          padding-bottom: 0.1em;
      }

      &__update{
          font-size: 1em;
          color: $black;
          padding: 0;
          padding-bottom: 0.5em;
          padding-left: 0.1em;
      }
  }

  h4{
      color: $white;
  }
}

