::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $c-darkgrey;
    font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $c-darkgrey;
    font-size: 1em;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $c-darkgrey;
    font-size:1em;
}
:-moz-placeholder { /* Firefox 18- */
    color: $c-darkgrey;
    font-size: 1em;
}


input{
  font-family: 'Gilroy';
}
