.inside{
  &__checkbox__label{
    position: relative;
    display: block;
    padding-left: 2.1875em;
    color: #fff;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 0.125em;
        left: 0;
        display: inline-block;
        height: 0.9375em;
        width: 0.9375em;
        background-color: white;
        border: 1px solid #d7d7d7;
        vertical-align: middle;
        transition: background 0.3s ease-in-out,border 0.3s ease-in-out;
    }
  }

  &__checkbox input:checked + .bot__container__inside__checkbox__label:after {
    content: '';
    position: absolute;
    top: 0.334375em;
    left: 0.234375em;
    width: 0.625em;
    height: 0.3125em;
    border: 0.15625em solid $primary;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


  &__intro{
    display: block;
    width: 100%;
    color: darken($secondary, 20%);
    text-align: center;
    font-weight: 300;
    font-size: 0.7em;
    padding:1em 0 0 0;
  }

  &__title, &__bubble{
    font-weight: 300;
    margin: 0.5em 1em;
    background-color: $lightblue;
    width: auto;
    display: inline-block;
    border-radius: 15px 15px 15px 0px;
    color: $bg-container;
    padding: 0.5em 2.5em 0.5em 0.5em;
    position: relative;

    &:first-of-type{
        margin-top: 0.4em;
    }
  }

  &__title{
    margin-bottom: 0;
    position: relative;
    border-radius: 15px 15px 15px 0px;
  }

  &__bubble{
    padding: 0.2em 0.5em;

    span{
        display: inline-block;
        animation-name: typing;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        &:nth-of-type(2){
            -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
            animation-delay: 0.2s;
        }

        &:nth-of-type(3){
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
    }
  }

  &__message, &__check{
    font-weight: 300;
    margin: 0.5em 0em;
    background-color: $lightblue;
    width: auto;
    display: block;
    border-radius: 15px 15px 15px 0px;
    color: $bg-container;
    padding: 0.5em 0.75em 0.5em 0.75em;
    position: relative;
    min-height: 10px;
    transform-origin: 50% 50%;
    animation: reversejump .5s linear alternate;

    small {
        font-size: 0.6em;
        bottom: 0.3em;
        right: 0.9em;
        position: absolute;
    }
  }

  @keyframes reversejump {
    0%   {transform: translate3d(-50px,10px,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,8px,0) scale3d(0.9,1,1);}
    100% {transform: translate3d(0,0,0) scale3d(1,1,1);}
  }

  &__url{
    background-color: $title_computer;
    padding: 0.2em 0.5em;
  }

  &__check li{
    width: auto;
    display: block;
    padding: 0.3em 0em 0.3em 0.5em;
    color: #fff;
  }

  &__radio ul{
    margin: 0 0.8em;
  }


  &__radio li{
    font-weight: 300;
    margin: 0.5em 0.2em;
    background-color: $title_computer;
    width: auto;
    display: inline-block;
    border-radius: 8px;
    color: $bg-container;
    padding: 0.4em 0.5em 0.4em 0.5em;
    position: relative;
    cursor: pointer;



    @media (max-width: 44em){
        margin: 0.2em;

        &:first-of-type{
            margin-top: 0.5em;
        }
    }
  }

  &__select{
    width: 90%;
    padding-left: 0.8em;
    padding-bottom: 0.3em;

    @media (max-width: 44em){
        width: 80%;
    }
  }

  &__selection{
    display: inline-block;
    margin: 0.2em 0.3em;
    background-color: #3C99EA;
    color: $bg-container;
    padding: 0.2em 1.5em 0.2em 0.5em;
    border-radius: 10px;
    font-weight: 300;
    font-size: 0.8em;
    position: relative;
    cursor: pointer;

    &:after{
        content: "\f00d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $bg-container;
        font-size: 11px;
        padding-right: 0.5em;
        position: absolute;
        top: calc(50% - 4px);
        right: 0;
        cursor: pointer;
    }
  }

  &__group{
    position: relative;
    -webkit-transition: border-top 2s; /* Safari */
    transition: border-top 2s;
    border-top: 0;

    // &:after{
    //     position: absolute;
    //     width: 10%;
    //     height: 1px;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     margin: 0 auto;
    //     content:'';
    //     background-color: $title_computer;
    // }
  }

  &__inputgroup{
    position: relative;
    background-color: #EFEFEF;
    border-bottom: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    border-right: 1px solid #e4e5e7;
    border-top: 1px solid transparent;
    padding-bottom: 0.5em;
  }


  &__input{
    width: calc(100% - (8.5em + 2px));
    display: block;
    margin-left: 1em;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    font-size: 0.9em;
    padding: 1em 1.5em;
    color: $primary;
    font-weight: normal;
    background-color: #FAFAFA;
    border-radius: 10px;

    &:focus{
        outline: none;
    }
  }

  &__icons{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    background-color: $primary;
    padding: 1.15em 0.7em;
    color: $white;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 0.5em;
  }
}
