.list{
  min-height: 300px;
  height: 60vh;
  max-height: 62vh;
  overflow: auto;
  padding-bottom: 20px;
  border-top: 1px solid #e4e5e7;
  border-right: 1px solid #e4e5e7;
  border-left: 1px solid #e4e5e7;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,f8f8f9+0,efefef+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #f8f8f9 0%, #efefef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#f8f8f9 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#f8f8f9 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

  @media (max-width: 44em){
      height: 70vh;
      max-height: 100%;
  }

  &__items{
      width: calc(100% - 2em);
      display: inline-block;
      font-size: 0.9em;
      line-height: 1.2em;
      padding: 1em 1em 0 1em;

      @media (max-width: 44em){
          width: calc(100% - 0.8em);
          padding: 0 0.4em;
      }
  }

  &__item{
      display: inline-block;
      width: auto;
      align-self: flex-start;
      max-width: 90%;
      word-break: break-word;

      &__url a:link, &__url a:active, &__url a:hover, &__url a:visited{
        font-weight: 300;
        margin: 0.5em 0em;
        background-color: $third;
        width: auto;
        /* float: left; */
        display: inline-block;
        border-radius: 15px 15px 15px 0px;
        color: $white;
        text-decoration: none;
        padding: 0.5em 0.75em 0.5em 0.75em;
        position: relative;
        min-height: 10px;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation: reversejump .5s linear alternate;
        animation: reversejump .5s linear alternate;
      }

      &__image{
        background-color: transparent;
        display: inline-block;
        width: auto;
        padding: 0 0 0 0;
        max-width: 50% !important;
        -webkit-animation: reversejump .5s linear alternate;
        animation: reversejump .5s linear alternate;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        img{
          display: block;
          max-width: auto;
          width: 100%;
        }
      }

      &__right{
          float: right;
          text-align: right;

          .inside__message{
              background-color: $primary;
              color: $white;
              border-radius: 15px 15px 0px 15px;
              font-weight: 300;
              animation: jump .5s linear alternate;
          }

          .inside__radio li {
              background-color: $primary;
              color: $white;
              font-weight: 300;
              border-radius: 15px 15px 0px 15px;
              animation: jump .5s linear alternate;

              &:focus {
                  outline: 0;
              }
          }
      }
  }
}


@keyframes jump {
  0%   {transform: translate3d(50px,10px,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,8px,0) scale3d(0.9,1,1);}
  100% {transform: translate3d(0,0,0) scale3d(1,1,1);}
}
