.bot{
  &__paper__icon{
      padding: 0.5em;
  }

  &__extra{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      height: 52px;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #EEE;
      color: lighten(#333, 10%);
      text-align: center;
      -webkit-animation-name: cssAnimation;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: forwards;

      &__active{
          background-color: $primary;
          color: #fff;
      }
  }
}
