
.flex {
  display: block;


  @include breakpoint('xl'){
    display: flex;
    display: -webkit-box;
  }
}

.flex--big{
  display: block;
  @include breakpoint('xml'){
    display: flex;
  }
}

.flex--1{
   flex: 1;
}

.flex--spacebetween {
  justify-content: space-between;
}

.flex--spacearound{
  justify-content: space-around;
}

.flex--justifycenter {
  justify-content: center;
}

.flex--justifyend {
  justify-content: flex-end;
}

.flex--aligncenter {
  align-items: center;
}

.flex--alignend {
  align-items: flex-end;
}
.flex--alignstart {
  align-items: flex-start;
}

.flex--aligncenter {
  align-items: center;
}

.flex--selfstart {
  align-self: flex-start;
}

.flex--selfcenter {
  align-self: center;
}

.flex--start {
  align-items: flex-start;
}

.flex--end {
  align-items: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

.flex--direction-column {
  flex-direction: column;
}

.flex--direction-columnreverse {
  flex-direction: column-reverse;
}

.flex--grow {
  flex-grow: 1;
}

.flex--notshrink {
  flex-shrink: 0;
}

.flex--mobile{
  display: flex
}

.flex__column__reverse--mobile{
    flex-direction: column-reverse;
  @include breakpoint('s'){
    flex-direction: column;
  }
}

// .flexwidth--1{
//   min-width: 15.3%;
//   flex: 0 0 15.3%;
// }

