
html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Gilroy';
  min-height: 100vh;
}



a:link,
a:active,
a:visited,
a:hover{
  color: inherit;
  text-decoration: underline;
}

@keyframes typing {
  0% {
     transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-webkit-keyframes cssAnimation {
  0% {
      -webkit-transform: translateY(-50px);
  }
  20%{
      -webkit-transform: translateY(0px);
  }
  80%{
      -webkit-transform: translateY(0px);
  }
  100% {
      -webkit-transform: translateY(-50px);
  }
}


.fullpage{
  min-height: calc(100vh - 5vh);
  padding-top: 5vh;
  position: relative;
  @media (min-width: 44em){
    &::after{
      background-image: url('./assets/images/oswald.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      left: -50px;
      width: 400px;
      height: 400px;
      content:'';
      z-index: -1;
    }
  }

}

[hidden] {
  display: none !important;
}


