// @include theme(theme__blue, #3C99EA,#F7F7F7);
// @include theme(theme__orange,#FF5640,#F4B350);
// @include theme(theme__orange2,#E87E04,#F4B350);
// @include theme(theme__orange2,#E87E04,#F4B350);

$c-grey:  #f1f3f5;
$c-darkgrey:  #d1d3d5;
$c-white:  #fff;
$white:  #fff;
$c-bg:          #DFEAFE;
$black: #000;

$light-grey: #777;
$grey: #333;

$green: #79C043;
$lightblue: #90b6cb;
$blue: #0064B4;


$primary: #00284e;
$secondary: #f7f7f7;
$third: #F6921E;
$fourth: #4aa32c;

$bg-container: lighten(adjust-hue($primary, 20), 100%);
$bg-textbutton_person: $secondary;
$bg-textbutton_computer: $primary;
$title_computer: complement($primary);
$footer-color: darken(adjust-hue($primary, 20), 100%);
