/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3300b0");


@font-face {font-family: 'Gilroy';font-weight: 600; src: url('assets/fonts/3300B0_0_0.eot');src: url('assets/fonts/3300B0_0_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3300B0_0_0.woff2') format('woff2'),url('assets/fonts/3300B0_0_0.woff') format('woff'),url('assets/fonts/3300B0_0_0.ttf') format('truetype');}


@font-face {font-family: 'Gilroy';font-weight: 400;src: url('assets/fonts/3300B0_1_0.eot');src: url('assets/fonts/3300B0_1_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3300B0_1_0.woff2') format('woff2'),url('assets/fonts/3300B0_1_0.woff') format('woff'),url('assets/fonts/3300B0_1_0.ttf') format('truetype');}


@font-face {font-family: 'Gilroy';font-weight: 700;src: url('assets/fonts/3300B0_2_0.eot');src: url('assets/fonts/3300B0_2_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3300B0_2_0.woff2') format('woff2'),url('assets/fonts/3300B0_2_0.woff') format('woff'),url('assets/fonts/3300B0_2_0.ttf') format('truetype');}
