h1 {
    margin: 0;
    padding: 1em;
}

h2 {
    padding: 0.5em;
}

h3 {
    padding: 0.3em;
}

h4 {
    padding: 0.3em;
    margin-top: 0.5em;
    font-size: 0.6em;
    text-decoration: underline;
    cursor: pointer;
}