/**
 * @license
 * MyFonts Webfont Build ID 3342512, 2017-02-09T03:52:30-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Gilroy-SemiBold by Radomir Tinkov
 * URL: http://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
 * 
 * Webfont: Gilroy-Regular by Radomir Tinkov
 * URL: http://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/
 * 
 * Webfont: Gilroy-Heavy by Radomir Tinkov
 * URL: http://www.myfonts.com/fonts/radomir-tinkov/gilroy/heavy/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3342512
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3300b0");

  
@font-face {font-family: 'Gilroy-SemiBold';src: url('webfonts/3300B0_0_0.eot');src: url('webfonts/3300B0_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3300B0_0_0.woff2') format('woff2'),url('webfonts/3300B0_0_0.woff') format('woff'),url('webfonts/3300B0_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gilroy-Regular';src: url('webfonts/3300B0_1_0.eot');src: url('webfonts/3300B0_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3300B0_1_0.woff2') format('woff2'),url('webfonts/3300B0_1_0.woff') format('woff'),url('webfonts/3300B0_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Gilroy-Heavy';src: url('webfonts/3300B0_2_0.eot');src: url('webfonts/3300B0_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3300B0_2_0.woff2') format('woff2'),url('webfonts/3300B0_2_0.woff') format('woff'),url('webfonts/3300B0_2_0.ttf') format('truetype');}
 